In [1]:
%matplotlib inline
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Banmankhi,IN,2021-10-02 00:25:01,25.8833,87.1833,76.46,91,94,6.22
1,1,Castro,BR,2021-10-02 00:25:01,-24.7911,-50.0119,56.71,93,100,2.48
2,2,Arraial Do Cabo,BR,2021-10-02 00:22:42,-22.9661,-42.0278,70.59,92,70,17.69
3,3,Grootfontein,NaN,2021-10-02 00:25:04,-19.5667,18.1167,62.04,14,0,14.52
4,4,Busselton,AU,2021-10-02 00:25:04,-33.6500,115.3333,55.09,77,30,14.34

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                    dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Banmankhi,IN,2021-10-02 00:25:01,25.8833,87.1833,76.46,91,94,6.22
5,5,Atuona,PF,2021-10-02 00:25:05,-9.8000,-139.0333,78.64,69,55,20.38
7,7,Alice Springs,AU,2021-10-02 00:23:20,-23.7000,133.8833,83.75,12,4,17.27
19,19,Kavaratti,IN,2021-10-02 00:22:13,10.5669,72.6420,77.86,83,99,3.22
24,24,Sagua De Tanamo,CU,2021-10-02 00:25:11,20.5819,-75.2414,76.69,88,30,4.34
32,32,Kapaa,US,2021-10-02 00:22:09,22.0752,-159.3190,85.98,66,40,3.00
34,34,Isangel,VU,2021-10-02 00:25:13,-19.5500,169.2667,77.11,88,90,9.22
40,40,Makakilo City,US,2021-10-02 00:25:15,21.3469,-158.0858,86.32,55,1,18.41
44,44,Cacule,BR,2021-10-02 00:25:16,-14.5033,-42.2222,81.25,38,12,12.33
46,46,Victoria,HK,2021-10-02 00:25:17,22.2855,114.1577,87.24,81,48,1.01

In [16]:
preferred_cities_df.count()

City_ID       188
City          188
Country       188
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0         Banmankhi      IN     76.46  25.8833   87.1833
5            Atuona      PF     78.64  -9.8000 -139.0333
7     Alice Springs      AU     83.75 -23.7000  133.8833
19        Kavaratti      IN     77.86  10.5669   72.6420
24  Sagua De Tanamo      CU     76.69  20.5819  -75.2414
32            Kapaa      US     85.98  22.0752 -159.3190
34          Isangel      VU     77.11 -19.5500  169.2667
40    Makakilo City      US     86.32  21.3469 -158.0858
44           Cacule      BR     81.25 -14.5033  -42.2222
46         Victoria      HK     87.24  22.2855  114.1577